<!--
File:       project261/toolshare/templates/toolgroup/index.html
Language:   Modified HTML

Author:     Val Booth <vxb4825@rit.edu>
Author:     Corban Mailloux <cdm3806@rit.edu>
Author:     Adam McCarthy <aem1269@rit.edu>
Author:     Michael Washburn <mdw7326@rit.edu>
Author:     Bryon Wilkins <brw4824@rit.edu>

The template for the ToolGroup page.
-->

{% extends 'base.html' %}
{% block title %}ToolGroups{% endblock title %}
{% block content %}

<div class="page-header">
    <h1>ToolGroups</h1>
</div>

<form action="./"  method="post" ='./'{% if form.is_multipart %} enctype='multipart/form-data'{% endif %}>
{% csrf_token %}
    <div class="entry" style="width:220px; float:left;">{{ forms.0.name }}</div>
    &nbsp;&nbsp;&nbsp;
    <input class="btn btn-sm btn-primary" type="submit" value="Create ToolGroup" />
</form>
<br>
<div class="text-danger">{{forms.0.name.errors.0}}</div>
<br>

<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>Existing ToolGroups:</th>
    </tr>
{% for toolgroup in toolgroup_list %}
    <tr>
        <td><a href="{% url 'toolshare:toolgroup_edit' toolgroup.id %}">{{ toolgroup.name }}</a></td>
    </tr>
{% endfor %}
</table>
{% endblock content %}