<!--
File:       project261/toolshare/templates/tools/edit/index.html
Language:   Modified HTML

Author:     Val Booth <vxb4825@rit.edu>
Author:     Corban Mailloux <cdm3806@rit.edu>
Author:     Adam McCarthy <aem1269@rit.edu>
Author:     Michael Washburn <mdw7326@rit.edu>
Author:     Bryon Wilkins <brw4824@rit.edu>

The template for the Changing Tool Info Page.
-->

{% extends 'base.html' %}
{% block title %}Edit Tool Return Quality{% endblock title %}
{% block content %}

<div class="page-header">
    <h1>Edit Tool Return</h1>
</div>

<p> 
    Please select the quality of the tool as you returned it.<br> 
    Please be aware that a rating of "Broken" will remove the tool from the system until the tool's owner can repair and reactivate the tool in the Toolshare system.
</p>

  <form action="./"  method="post" ='./'{% if form.is_multipart %} enctype='multipart/form-data'{% endif %}>
    {% csrf_token %}
    <table>
    {% for field in form %}
        <tr>
            <td>{{ field.label_tag }}:</td>
            <td>{{ field }}</td>
        </tr>
    {% endfor %}
    </table>
    <input class="btn btn-sm btn-primary" type="submit" value="Submit Changes" />
  </form>
{% endblock content %}
